# Название события на Cosplay2
event_name: 'cr2018'
# Путь к папке с файлами
folder_path: 'cr2018'
# Путь к папке проекта FestEngine
festengine_path: 'festengine'
# Путь к файлу базы SQLite
db_path: 'cr2018/sqlite3_data.db'
# Путь к images.tex
tex_path: 'cr2018/images.tex'
# Логин и пароль админа cosplay2
admin_cs2_name: 'login'
admin_cs2_password: 'password'
# Регэкспы
id_regex: '^№ (\d{1,3})\. (.*)\.\w{2,4}$'
code_regex: '(\d{3}) (\w{1,2})\. (.*?)\(№(\d{1,3})\)'

### Поля ###

# Внесценические номинации
not_scene:
    - 'Аккредитация фотографов'
    - 'Арт'
    - 'Фотокосплей'

# Внесценические номинации, которые надо печатать
print_noms:
    - 'Арт'
    - 'Фан-арт'
    - 'Фотокосплей'

# Название фото из профиля, которое печатать
print_title: 'Какую фотографию печатать?'

# Пропускать эти поля при скачивании всех файлов
not_scene_files:
    - 'Демо-запись'
    - 'Видеозапись репетиции'
    - 'Фотография'
    - 'Демо-запись'
    - 'Оригинальная композиция'

### SQL ###
# SQl проверки всех файлов
checker_sql: >
 SELECT card_code, voting_number, number, value, voting_title, requests.id
 FROM   requests, list
 LEFT JOIN (SELECT request_id, value FROM [values] WHERE title IN ('Номинация', 'Тип номера'))
    ON request_id = requests.id
 WHERE list.id = topic_id AND
    status = 'approved' AND
    card_code NOT IN ("FG", "A", "F");

